Package: tsacdop
Version: 0.1.0
Section: base
Priority: optional
Homepage: https://github.com/stonega/tsacdop_desktop
Architecture: amd64
Depends: libvlc-dev 
Maintainer: Stone <tsacdop.app@gmail.com>
Description: Tsacdop
  Enjoy podcasts with Tsacdop! Tsacdop is a podcast player developed with Flutter, a clean, simply beautiful and friendly app, which is also free and open source. This repo is windows version of Tsacdop, this is still on early stage.
